<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>Edgeberry Cartridge</TITLE>
</HEAD>
<BODY LANG="en-EN" DIR="LTR" BGCOLOR="#1e1e1e" TEXT="#808080">
<P>
<IMG SRC="Edgeberry.png" NAME="logo" ALIGN=BOTTOM BORDER=0><BR>
</P>
<IMG SRC="cartridge.png" NAME="cartridge" ALIGN=BOTTOM BORDER=0><BR>
</P>
<BR/>
<P>
<H3>Design your own <A HREF="https://github.com/SpuQ/EdgeBerry?tab=readme-ov-file#edgeberry-hardware-cartridge" TARGET="blank">Edgeberry Hardware Cartridge</A> 
using this template.</H3></P>
<P>
<P>
With an <B>Edgeberry Hardware Cartridge</B> you can expand the hardware features of your Edgeberry device. The <B><A HREF="https://github.com/SpuQ/Edgeberry-hardware" TARGET="blank">Edgeberry Hardware</A></B> is
a 'hat' for the <I>Raspberry Pi</I>&#174; (or compatible devices) containing some essentials designed for easily deploying the <I>Raspberry Pi</I>&#174; as an IoT Edge device.
The IO pins that are not used by the Edgeberry board itself are exposed on the expansion header, so you can integrate your application-specific
hardware using, what we call, an Edgeberry Hardware Cartridge.
</P>
<P>
This Edgeberry Hardware Cartridge template contains the board outline for the Cartridge to snuggly fit the other components of the EdgeBerry Project 
(e.g. the <A HREF="https://www.thingiverse.com/thing:6595172" TARGET="blank">3D printable enclosure</A>). The board also contains the footprint for 
the connector and some additional design information on the User.Drawings layer. The rest is up to you!
<HR/>
<B>Copyright&#169; 2024 <A HREF="https://github.com/SpuQ/" TARGET="blank">Sanne 'SpuQ' Santens</A></B>. 
This template project is released under the <B><A HREF="https://creativecommons.org/public-domain/cc0/" TARGET="blank">Creative Commons CC-0</A></B> license. No rights reserved.
</P>
</BODY>
</HTML>
