<html>
  <head>
    <title>KiCad library merge request footprint diagrams - small parts</title>
    <style>
      /* body {background-color: powderblue;}
      h1   {color: blue;}
      p    {color: red;} */
      </style>
  </head>
  <body>
    <h1>KiCad library merge request footprint diagrams</h1>
    <h2>Small Parts</h2>

    <p>
      This project template is for quickly creating diagrams for Kicad symbols and footprints.
      <br>
      It is designed for "small" parts and has small graphical arrow sizes by default.
    </p>
    <h3>Example</h3>
    <p>
      Example of a part diagram with the default dimensions provided by this template:
    </p>
    <img
      src="example.png"
      alt="Example of footprint marked up with some dimension arrows."
    />
  </body>
</html>
