<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>STM32H7xx DevEBox</title>
</head>
<body lang="en-US" dir="ltr"><h1 class="ctl" align="left"><font face="FreeSans, sans-serif"><span lang="en-US">STM32H7xx DevEBox</span></font></h1>
<p align="left" style="margin-bottom: 0mm; line-height: 100%"><font face="FreeSans, sans-serif"><span lang="en-US">Project template for cheap STM32H7xx DevEBox development boards. Includes PCB edge matching the DevEBOx outline with IO connectors and corner mounting holes.</span></font></p>
<p align="left" style="margin-bottom: 0mm; line-height: 100%"><img src="DevEBox_Board.png" name="Image1" align="middle" width="320" height="465" border="0"/></p>
<p align="left" style="margin-bottom: 0mm; line-height: 100%"><font face="FreeSans, sans-serif"><span lang="en-US">(<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>) 2022 TiZed</span></font></p>
</body>
</html>
