<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
    <title>API Series 500 - Audio Devices</title>
  </head>
  <body>
    <h2>WHAT IS</h2>
    <br />
    This project template provides the outline of a standard 3U
    <a href="https://apiaudio.com/about.php" target="blank"
      >API Series 500 Compatible</a
    >. <br /><br />
    Automated Processes, Inc. (<abbr title="Automated Processes, Inc."
      >A.P.I.</abbr
    >) created this standard for audio devices. The board is compatible with the
    audio Lunchboxes made by A.P.I. of course, but also the ones made by Radial, MIDAS etc, and
    designed for DIY Projects.
    <br />
    The connector is made to fit the EDAC type used into the API Series 500
    systems.

    <h2>INDEX</h2>
    <ol>
      <li><i>External Doc link</i>: <a href="https://medias.audiofanzine.com/files/api-vpr-500-spec-479213.pdf">API Specs and Sizes</a></li>
      <li><i>External Doc link</i>: <a href="http://mmi172wp.pbworks.com/w/file/fetch/79999706/Workhorse-OS-DataSheet-v4.pdf">RADIAL Sizes</a></li>
      <li><i>External Doc link</i>: <a href="https://edac.net/series/306">EDAC Connector Series 306</a></li>
      <li><i>External Doc link</i>: <a href="https://edac.net/series/316">EDAC Connector Series 316</a></li>
      <li><i>External Doc link</i>: <a href="https://edac.net/series/356">EDAC Connector Series 356</a></li>
      <li>KiCAD API Series 500 Schematics Template</li>
      <li>KiCAD API Series 500 PCB Template</li>
      <li>Credits</li>
    </ol>

    <h2 id="KiCADSchTemplate">6. KiCAD API Series 500 Schematics Template</h2>
    <img src="brd.png" name="brd" width="600" height="390" />
    <br />
    <h2 id="KiCADPcbTemplate">7. KiCAD API Series 500 PCB Template</h2>
    <img src="Schematics.png" name="brd" width="600" height="390" />
    <br /><br /><br />
    Original Author: <b>Tormy Van Cool</b><br />
	Licensed under: CC0<br />
    <h2 id="credits">6. CREDITS</h2>
    <b>Matteo Mazzon</b>: contribution with the correct sizes of the PCB
  </body>
</html>
